
/* body {
	background-image: url(./img/aclc3.png);
  font-family: Arial, sans-serif;
} */
table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  text-align: center;
  padding: 8px;
}
th {
  background-color: #4CAF50;
  color: white;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
.sex, .age, .year, .name {
  color: #007bff;
  font-weight: bold;
}
.g11, .g12, .predicted-result {
  color: green;
  font-weight: bold;
}
.grade, .descriptive {
  color: red;
  font-weight: bold;
}
.search-container {
  margin-top: 20px;
  margin-bottom: 20px;
}
.search-box {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}
.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.search-box {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 16px;
}

.search-button {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.search-button:hover {
  background-color: #3e8e41;
}
.upload-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.container {
    margin: 20px auto;
    max-width: 800px;
  }
  
  .home-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.pie-chart-button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.pie-chart-button:hover {
    background-color: #006F8F;
}
  
  h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #4CAF50;
    color: white;
  }
  
  .result-good {
    background-color: #7FFF7F;
  }
  
  .result-bad {
    background-color: #FF7F7F;
  }
  
  .custom-file-upload {
    display: inline-block;
    padding: 10px;
    background-color: #303931;
    color: white;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="file"] {
    display: none;
  }
  