<!DOCTYPE html>
<html>
  <head>
    <title>Pie Charts and Scores</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='knn.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
      .chart-container {
        display: flex;
        justify-content: space-between;
      }
      
      .chart-container div {
        width: 150%;
      }
    </style>
    <button onclick="goBack()" class="home-button">Go Back</button>
    
    <h1>Random Forest R2 Score: {{ r2_rf_percentage }}%</h1>
    <div class="chart-container">
      <div>
        <h2>Descriptive Percentages</h2>
        <img src="{{ descriptive_chart_url }}" alt="" width="650px" height="500px">
      </div>
      <div>
        <h2>Grade Percentages</h2>
        <img src="{{ grade_chart_url }}" alt="" width="650px" height="500px">
      </div>
    </div>

    <script>
        function goBack() {
            // Go back to the previous page in the browsing history
            window.history.back();
        }
    </script>
    
